body {
  background-color: black;
  background-image: url("/Users/as/my-bankapp/src/assets/moneyflip.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin-top: 75px;
}

/* .money-plant {
  background-image: url("/Users/as/my-bankapp/src/assets/money.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
} */